.App, body {
  text-align: center;
  background-color: #1e1d21;
}

.card-block{
  background-color: #262529 !important;
}

.checkBoxes{
  background-color: #262529;
  padding: 10px !important;
}

.switch-bar{
  background-color: #262529;
  padding: 10px;
  color: white;
}

.switch-bar label{
  color: white;
}

.description{
  margin-top: 23px;
  margin-bottom: 2px;
  color: white;
}

.cardData{
  display: block;
  font-weight: bold;
  color:rgb(88, 81, 219);;
}

.stat-ci{
  display: block;
  font-weight: bold;
  color: rgb(76, 207, 118);
}

.stat-re{
  display: block;
  font-weight: bold;
  color: #009688;
}

.stat-de{
  display: block;
  font-weight: bold;
  color: rgb(225, 48, 108);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  background-color: #262529 !important;
  padding: 1px;
}

.header p{
  font-size: 25px;
  font-weight: 500;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #fff;
  font-family: serif;
}

.header h3 {
  font-size: 25px;
  color: #fff;
  font-family: serif;
}

.indiaDetail, .indiaStates, .selectCountry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indiaHeader {
  width: 90%;
  border: 1px solid #2776cc;
  margin-bottom: 10px;
}

.selectCountry select {
  color: #fff!important;
  width: 100%;
  border: 1px solid #2776cc!important;
}

.otherDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.indiaStates {
  width: 100%;
  color: #fff;
}

.loadingOtherColor{
  color: white;
}

.stateBox {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-top: 15px;
  color: white;
}

.col12pad{
  padding-top: 15px !important;
}

.chooseOpt{
  margin-top: 15px;
    color: white;
}

.stateBox p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.lastUpdated {
  font-size: 10px;
  margin-top: 0px;
  color: white;
}

.stayHome {
  
}

.stayHome img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.footerCss {
  margin-bottom: 10px;
  color: #fff;
}

.indiaSelect {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.chooseOption {
  background-color: transparent!important;
}
